header{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#Title{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#codeAnimation{
  height: 500px;
  width: 50%;
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
  transform: translateY(-20%);
}

#codeText,
#codeCursor,
#codeCursor p {
  display: inline;
}
